@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/helveticaneuecyr-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/helveticaneuecyr-roman.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg#helveticaneuecyr-roman") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/helveticaneuecyr-thin.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thin.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thin.woff") format("woff"), url("../fonts/helveticaneuecyr-thin.ttf") format("truetype"), url("../fonts/helveticaneuecyr-thin.svg#helveticaneuecyr-thin") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/myriadpro-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-regular.woff2") format("woff2"), url("../fonts/myriadpro-regular.woff") format("woff"), url("../fonts/myriadpro-regular.ttf") format("truetype"), url("../fonts/myriadpro-regular.svg#myriadpro-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Impact";
  src: url("../fonts/impact.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/impact.eot?#iefix") format("embedded-opentype"), url("../fonts/impact.woff2") format("woff2"), url("../fonts/impact.woff") format("woff"), url("../fonts/impact.ttf") format("truetype"), url("../fonts/impact.svg#impact") format("svg");
  /* Chrome < 4, Legacy iOS */
}

html,
body,
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Ограничивающая оболочка */
/* Лента слайдов */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  margin: 0 4.5px;
  width: 100%;
  max-width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3px;
  font-size: 0;
  background-color: #505050;
  position: relative;
}

/* Активная точка */
.slick-dots li.slick-active {
  background-color: #a709fc;
}

/* Элемент точки */
.slick-dots li button {
  display: none;
}

.btn {
  padding: 22px 28px;
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  background-color: #a709fc;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  cursor: pointer;
  background-image: -ms-linear-gradient(180deg, #7229e1 0%, #b63ef0 100%);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.title {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: calc(26px + (35 - 26) * ((100vw - 320px) / (1600 - 320)));
  text-transform: uppercase;
  color: #2a2a2a;
}

@media (min-width: 1600px) {
  .title {
    font-size: 35px;
  }
}

.header {
  background-color: #232323;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.header__wrapper {
  padding: 55px 0 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info {
  width: 100%;
  max-width: 50%;
  position: relative;
  z-index: 1;
}

.header__info-logo {
  height: 80px;
  width: 100%;
  max-width: 80px;
  margin-bottom: 120px;
}

.header__info-logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__info-subtitle {
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  color: #cecece;
}

.header__info-subtitle span {
  color: #fff;
}

.header__info-date {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__info-title {
  font-size: calc(54px + (114 - 54) * ((100vw - 320px) / (1600 - 320)));
  margin: 35px 0;
  font-family: "Impact";
  text-transform: uppercase;
}

.header__info-text {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  color: #cecece;
  margin-bottom: 100px;
}

.header__info-text span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.header__img {
  position: absolute;
  right: 0;
  top: 115px;
  width: 100%;
  max-width: 900px;
}

.header__scroll {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #919191;
  left: 50%;
  bottom: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__scroll p {
  position: relative;
  z-index: 1;
}

.header__scroll::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 40px;
  border: 2px solid #3a3937;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 25px;
}

@media (min-width: 1600px) {
  .header__info-title {
    font-size: 114px;
  }
  .header__info-text {
    font-size: 18px;
  }
}

@media (max-width: 1250px) {
  .header__img {
    max-width: 800px;
  }
}

@media (max-width: 1150px) {
  .header__wrapper {
    padding-bottom: 130px;
  }
  .header__info-logo {
    margin-bottom: 150px;
  }
  .header__img {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: 700px;
  }
  .header__info {
    max-width: 100%;
  }
}

@media (max-width: 1070px) {
  .header__info-logo {
    margin-bottom: 100px;
  }
  .header__img {
    max-width: 600px;
  }
}

@media (max-width: 1000px) {
  .header__info-logo {
    margin-bottom: 100px;
  }
  .header__img {
    max-width: 500px;
  }
}

@media (max-width: 910px) {
  .header__info-logo {
    margin-bottom: 100px;
  }
  .header__img {
    max-width: 400px;
  }
}

@media (max-width: 830px) {
  .header__img {
    max-width: 300px;
  }
}

@media (max-width: 750px) {
  .header__img {
    display: none;
  }
}

@media (max-width: 550px) {
  .header__info-text {
    margin-bottom: 50px;
  }
  .header__info-text br {
    display: none;
  }
}

.video {
  padding: 140px 0;
  background-color: #141414;
  color: #e1e1e1;
}

.video__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__item-play {
  width: 100%;
  max-width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 2px solid #e1e1e1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 35px;
}

.video__item-play-img {
  width: 100%;
  max-width: 35px;
  height: 35px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.video__item-play-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.video__item-title {
  font-size: 48px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  line-height: 100%;
}

.video__item-text {
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Thin", sans-serif;
}

@media (max-width: 500px) {
  .video__item-title {
    font-size: 28px;
  }
}

.who {
  background-color: #f6f6f6;
}

.who__wrapper {
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1600 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1600 - 320)));
}

.who__items {
  margin-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1600 - 320)));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 87px;
  grid-row-gap: 80px;
}

.who__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: #151515;
  font-size: 20px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  margin-bottom: 25px;
}

.who__item-title span {
  margin-right: 10px;
  color: #a709fc;
}

.who__item-text {
  font-size: 12px;
  line-height: 20px;
  color: #555555;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
}

.who .title {
  text-align: center;
}

@media (min-width: 1600px) {
  .who__wrapper {
    padding: 100px 0;
  }
  .who__items {
    margin-top: 100px;
  }
}

@media (max-width: 1000px) {
  .who__items {
    grid-column-gap: 40px;
    grid-row-gap: 50px;
  }
}

@media (max-width: 850px) {
  .who__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .who__items {
    grid-row-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .who__items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who__item {
    text-align: center;
  }
  .who__item-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.client {
  background-color: #242424;
  color: #fff;
  /* Точки (булиты) */
  /* Активная точка */
}

.client__wrapper {
  padding: 70px 0;
}

.client__text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  text-align: center;
  width: 100%;
  margin: 25px auto 65px;
}

.client__items {
  position: relative;
  margin: 0 -6px;
  width: auto;
}

.client__item {
  margin: 10px 8px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
  height: 360px;
}

.client__item img {
  -o-object-position: top;
     object-position: top;
}

.client .slick-list {
  width: auto;
}

.client .title {
  color: #fff;
  text-align: center;
}

.client .slick-dots {
  margin-top: 50px;
}

.client .slick-dots li.slick-active {
  background-color: #b3b3b3;
}

.about {
  background-color: #f6f6f6;
}

.about__wrapper {
  padding: 70px 0;
}

.about__block {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info {
  width: 100%;
  max-width: 50%;
}

.about__info-text {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
}

.about__info-text p {
  margin-bottom: 25px;
}

.about__info-text p:first-child {
  margin-bottom: 60px;
}

.about__info-text p:last-child {
  margin-bottom: 0;
}

.about__img {
  width: 100%;
  max-width: 50%;
}

@media (max-width: 900px) {
  .about .title br {
    display: none;
  }
}

@media (max-width: 768px) {
  .about__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__info {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__img {
    margin-bottom: 25px;
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .about__img {
    max-width: 100%;
  }
}

.step {
  background-color: #f6f6f6;
}

.step__wrapper {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
}

.step__info {
  width: 100%;
  max-width: 50%;
  margin: auto 0 0;
}

.step__info-text {
  margin-top: 45px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  line-height: 24px;
  max-width: 480px;
}

.step__info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step__info-img {
  margin-top: -15px;
  pointer-events: none;
  width: 100%;
  max-width: 435px;
  margin: -15px 110px -20px auto;
}

.step__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 30px;
}

.step__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 10px;
  width: 100%;
  max-width: 50%;
}

.step__item {
  padding: 30px 25px 5px;
  background-color: #f1f1f1;
  min-height: 160px;
}

.step__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.step__item-title span {
  color: #a709fc;
  margin-right: 10px;
}

.step__item-text {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

.step .btn {
  margin: -60px 60px 0 auto;
}

@media (max-width: 1100px) {
  .step .btn {
    margin: -20px 60px 0 auto;
  }
}

@media (max-width: 1000px) {
  .step__items {
    width: 100%;
    max-width: 50%;
  }
  .step__item {
    padding: 20px 15px 5px;
  }
}

@media (max-width: 900px) {
  .step__items {
    grid-gap: 10px;
  }
  .step__item {
    padding: 20px 10px 5px;
  }
}

@media (max-width: 780px) {
  .step__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 30px;
  }
  .step__info {
    max-width: 100%;
  }
  .step__items {
    max-width: 100%;
    grid-gap: 30px;
  }
  .step__item {
    padding: 30px 25px 5px;
  }
}

@media (max-width: 500px) {
  .step__items {
    grid-gap: 10px;
  }
  .step__item {
    padding: 20px 10px 5px;
  }
  .step .btn {
    margin: 0px 0px 0 auto;
  }
}

@media (max-width: 450px) {
  .step__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .step__item-block {
    max-width: 100%;
  }
  .step__item {
    padding: 30px 25px 5px;
  }
}
