@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/helveticaneuecyr-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/helveticaneuecyr-roman.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg#helveticaneuecyr-roman") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/helveticaneuecyr-thin.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/helveticaneuecyr-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thin.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thin.woff") format("woff"), url("../fonts/helveticaneuecyr-thin.ttf") format("truetype"), url("../fonts/helveticaneuecyr-thin.svg#helveticaneuecyr-thin") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/myriadpro-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-regular.woff2") format("woff2"), url("../fonts/myriadpro-regular.woff") format("woff"), url("../fonts/myriadpro-regular.ttf") format("truetype"), url("../fonts/myriadpro-regular.svg#myriadpro-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Impact";
  src: url("../fonts/impact.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/impact.eot?#iefix") format("embedded-opentype"), url("../fonts/impact.woff2") format("woff2"), url("../fonts/impact.woff") format("woff"), url("../fonts/impact.ttf") format("truetype"), url("../fonts/impact.svg#impact") format("svg");
  /* Chrome < 4, Legacy iOS */
}

html,
body,
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__min {
  max-width: 860px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

/* Ограничивающая оболочка */
/* Лента слайдов */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  margin: 0 4.5px;
  width: 100%;
  max-width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3px;
  font-size: 0;
  background-color: #505050;
  position: relative;
  cursor: pointer;
}

.slick-dots li::before, .slick-dots li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
}

.slick-dots li::before {
  top: -10px;
}

.slick-dots li::after {
  bottom: -10px;
}

/* Активная точка */
.slick-dots li.slick-active {
  background-color: #b3b3b3;
}

/* Элемент точки */
.slick-dots li button {
  display: none;
}

.btn {
  padding: 22px 28px;
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  background-color: #a709fc;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  cursor: pointer;
  background-image: -ms-linear-gradient(180deg, #7229e1 0%, #b63ef0 100%);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.title {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: calc(26px + (35 - 26) * ((100vw - 320px) / (1600 - 320)));
  text-transform: uppercase;
  color: #2a2a2a;
}

@media (min-width: 1600px) {
  .title {
    font-size: 35px;
  }
}

.header {
  background-color: #232323;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.header__wrapper {
  padding: 55px 0 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info {
  width: 100%;
  max-width: 50%;
  position: relative;
  z-index: 1;
}

.header__info-logo {
  height: 80px;
  width: 100%;
  max-width: 80px;
  margin-bottom: 120px;
}

.header__info-logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__info-subtitle {
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  color: #cecece;
}

.header__info-subtitle span {
  color: #fff;
}

.header__info-date {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__info-title {
  font-size: calc(54px + (114 - 54) * ((100vw - 320px) / (1600 - 320)));
  margin: 35px 0;
  font-family: "Impact";
  text-transform: uppercase;
}

.header__info-text {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  color: #cecece;
  margin-bottom: 100px;
}

.header__info-text span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.header__img {
  position: absolute;
  right: 0;
  top: 115px;
  width: 100%;
  max-width: 900px;
}

.header__scroll {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #919191;
  left: 50%;
  bottom: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__scroll p {
  position: relative;
  z-index: 1;
}

.header__scroll::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 40px;
  border: 2px solid #3a3937;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 25px;
}

@media (min-width: 1600px) {
  .header__info-title {
    font-size: 114px;
  }
  .header__info-text {
    font-size: 18px;
  }
}

@media (max-width: 1250px) {
  .header__img {
    max-width: 800px;
  }
}

@media (max-width: 1150px) {
  .header__wrapper {
    padding-bottom: 130px;
  }
  .header__info-logo {
    margin-bottom: 150px;
  }
  .header__img {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: 700px;
  }
  .header__info {
    max-width: 100%;
  }
}

@media (max-width: 1070px) {
  .header__info-logo {
    margin-bottom: 100px;
  }
  .header__img {
    max-width: 600px;
  }
}

@media (max-width: 1000px) {
  .header__info-logo {
    margin-bottom: 100px;
  }
  .header__img {
    max-width: 500px;
  }
}

@media (max-width: 910px) {
  .header__info-logo {
    margin-bottom: 100px;
  }
  .header__img {
    max-width: 400px;
  }
}

@media (max-width: 830px) {
  .header__img {
    max-width: 300px;
  }
}

@media (max-width: 750px) {
  .header__img {
    display: none;
  }
}

@media (max-width: 550px) {
  .header__info-text {
    margin-bottom: 50px;
  }
  .header__info-text br {
    display: none;
  }
}

.video {
  padding: 140px 0;
  background-color: #141414;
  color: #e1e1e1;
}

.video__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__item-play {
  width: 100%;
  max-width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 2px solid #e1e1e1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 35px;
}

.video__item-play-img {
  width: 100%;
  max-width: 35px;
  height: 35px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.video__item-play-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.video__item-title {
  font-size: 48px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  line-height: 100%;
}

.video__item-text {
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Thin", sans-serif;
}

@media (max-width: 500px) {
  .video__item-title {
    font-size: 28px;
  }
}

.who {
  background-color: #f6f6f6;
}

.who__wrapper {
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1600 - 320)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1600 - 320)));
}

.who__items {
  margin-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1600 - 320)));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 87px;
  grid-row-gap: 80px;
}

.who__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: #151515;
  font-size: 20px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  margin-bottom: 25px;
}

.who__item-title span {
  margin-right: 10px;
  color: #a709fc;
}

.who__item-text {
  font-size: 12px;
  line-height: 20px;
  color: #555555;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
}

.who .title {
  text-align: center;
}

@media (min-width: 1600px) {
  .who__wrapper {
    padding: 100px 0;
  }
  .who__items {
    margin-top: 100px;
  }
}

@media (max-width: 1000px) {
  .who__items {
    grid-column-gap: 40px;
    grid-row-gap: 50px;
  }
}

@media (max-width: 850px) {
  .who__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .who__items {
    grid-row-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .who__items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who__item {
    text-align: center;
  }
  .who__item-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.client {
  background-color: #242424;
  color: #fff;
  /* Точки (булиты) */
  /* Активная точка */
}

.client__wrapper {
  padding: 70px 0;
}

.client__text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  text-align: center;
  width: 100%;
  margin: 25px auto 65px;
}

.client__items {
  position: relative;
  margin: 0 -6px;
  width: auto;
}

.client__item {
  margin: 10px 8px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
  height: 360px;
}

.client__item img {
  -o-object-position: top;
     object-position: top;
}

.client .slick-list {
  width: auto;
}

.client .title {
  color: #fff;
  text-align: center;
}

.client .slick-dots {
  margin-top: 50px;
}

.client .slick-dots li.slick-active {
  background-color: #b3b3b3;
}

.about {
  background-color: #f6f6f6;
}

.about__wrapper {
  padding: 70px 0;
}

.about__block {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info {
  width: 100%;
  max-width: 50%;
}

.about__info-text {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
}

.about__info-text p {
  margin-bottom: 25px;
}

.about__info-text p:first-child {
  margin-bottom: 60px;
}

.about__info-text p:last-child {
  margin-bottom: 0;
}

.about__img {
  width: 100%;
  max-width: 50%;
}

@media (max-width: 900px) {
  .about .title br {
    display: none;
  }
}

@media (max-width: 768px) {
  .about__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__info {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__img {
    margin-bottom: 25px;
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .about__img {
    max-width: 100%;
  }
}

.step {
  background-color: #f6f6f6;
}

.step__wrapper {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
}

.step__info {
  width: 100%;
  max-width: 50%;
  margin: auto 0 0;
}

.step__info-text {
  margin-top: 45px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  line-height: 24px;
  max-width: 480px;
}

.step__info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step__info-img {
  margin-top: -15px;
  pointer-events: none;
  width: 100%;
  max-width: 435px;
  margin: -15px 110px -20px auto;
}

.step__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 30px;
}

.step__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 10px;
  width: 100%;
  max-width: 50%;
}

.step__item {
  padding: 30px 25px 5px;
  background-color: #f1f1f1;
  min-height: 160px;
}

.step__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.step__item-title span {
  color: #a709fc;
  margin-right: 10px;
}

.step__item-text {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

.step .btn {
  margin: -60px 60px 0 auto;
}

@media (max-width: 1100px) {
  .step .btn {
    margin: -20px 60px 0 auto;
  }
}

@media (max-width: 1000px) {
  .step__items {
    width: 100%;
    max-width: 50%;
  }
  .step__item {
    padding: 20px 15px 5px;
  }
}

@media (max-width: 900px) {
  .step__items {
    grid-gap: 10px;
  }
  .step__item {
    padding: 20px 10px 5px;
  }
}

@media (max-width: 780px) {
  .step__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 30px;
  }
  .step__info {
    max-width: 100%;
  }
  .step__items {
    max-width: 100%;
    grid-gap: 30px;
  }
  .step__item {
    padding: 30px 25px 5px;
  }
}

@media (max-width: 500px) {
  .step__items {
    grid-gap: 10px;
  }
  .step__item {
    padding: 20px 10px 5px;
  }
  .step .btn {
    margin: 0px 0px 0 auto;
  }
}

@media (max-width: 450px) {
  .step__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .step__item-block {
    max-width: 100%;
  }
  .step__item {
    padding: 30px 25px 5px;
  }
}

.peculiarities__wrapper {
  padding: 70px 0;
}

.peculiarities__subtitle {
  margin-top: 15px;
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  color: #555555;
}

.peculiarities__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 40px;
  margin-bottom: 60px;
}

.peculiarities__item {
  width: 100%;
  max-width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.peculiarities__item-title {
  width: 100%;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
}

.peculiarities__item-title-num {
  font-size: 72px;
  color: #a709fc;
  font-family: "Impact";
  margin-right: 5px;
  line-height: 80%;
}

.peculiarities__item-title-decor {
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #d0d0ce;
}

.peculiarities__item-text {
  width: 100%;
  max-width: 260px;
  font-size: 16px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  line-height: 24px;
  color: #555555;
}

.peculiarities__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.peculiarities__item-title-img {
  width: 100%;
  max-width: 80px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

.peculiarities .title {
  text-align: center;
}

@media (max-width: 980px) {
  .peculiarities .title br {
    display: none;
  }
}

@media (max-width: 900px) {
  .peculiarities__item-title, .peculiarities__item-text {
    max-width: 200px;
  }
}

@media (max-width: 900px) {
  .peculiarities__item-title, .peculiarities__item-text {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .peculiarities__item {
    max-width: 50%;
  }
  .peculiarities__item-title, .peculiarities__item-text {
    max-width: 280px;
  }
}

@media (max-width: 650px) {
  .peculiarities__item-title, .peculiarities__item-text {
    max-width: 230px;
  }
}

@media (max-width: 550px) {
  .peculiarities__subtitle {
    margin-bottom: 50px;
  }
  .peculiarities__item {
    max-width: 100%;
  }
  .peculiarities__item-title, .peculiarities__item-text {
    max-width: 100%;
  }
}

.chat {
  background-color: #242424;
}

.chat__wrapper {
  padding: 70px 0;
}

.chat__items {
  margin: 50px 0;
}

.chat__item {
  width: 100%;
  max-width: 450px;
  padding: 25px 40px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  color: #242424;
}

.chat__item:last-child {
  margin-bottom: 0;
}

.chat__item-title {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.chat__item-text {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
}

.chat__item-text p {
  margin-bottom: 15px;
}

.chat__item-text p:last-child {
  margin-bottom: 0;
}

.chat__item-right {
  margin: 0 0 15px auto;
  background-color: #fcfcd5;
}

.chat__text {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
}

.chat__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat .title {
  color: #fff;
  text-align: center;
}

@media (max-width: 560px) {
  .chat .title br {
    display: none;
  }
  .chat__item {
    padding: 25px;
  }
  .chat__text br {
    display: none;
  }
}

.format__wrapper {
  padding: 70px 0;
}

.format__items {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 85px;
  grid-row-gap: 130px;
}

.format__item {
  border: 4px solid #2f6f3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.format__item-select {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(255, 175, 3, 0.5);
          box-shadow: 0px 0px 50px 0px rgba(255, 175, 3, 0.5);
}

.format__item-select .format__item-sum-btn {
  background-color: #a709fc;
}

.format__item-title {
  background-color: #2f6f3e;
  color: #fff;
  padding: 20px 15px;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 18px;
  background-image: url(../img/format_decor2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.format__item-list {
  padding-top: 10px;
  margin-bottom: 45px;
}

.format__item-list li {
  padding: 10px 15px;
  border-bottom: 1px solid #e7e7e7;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  color: #242424;
}

.format__item-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto 0 35px;
}

.format__item-sum-not {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 26px;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.format__item-sum-not span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.format__item-sum-not .infinit {
  font-size: 70px;
  line-height: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.format__item-sum-not.infinit {
  text-decoration: none !important;
}

.format__item-sum-not.infinit p {
  text-decoration: line-through;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.format__item-sum-num {
  padding: 30px 0;
  background-color: #2f6f3e;
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
  background-image: url(../img/format_decor2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.format__item-sum-num p {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 26px;
}

.format__item-sum-num span {
  font-size: 54px;
  font-family: "Impact";
}

.format__item-sum-text {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  margin-bottom: 30px;
}

.format__item-sum-text span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.format__item-sum-btn {
  padding: 10px 0;
  width: 100%;
  max-width: 270px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #a4a4a4;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.format__item-sum-btn:hover {
  background-color: #a709fc;
}

.format .title {
  text-align: center;
}

.format__item-recomendation {
  position: absolute;
  width: 100%;
  max-width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -40px;
  right: 12px;
  -webkit-box-shadow: 0px 15px 34px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 34px 0px rgba(0, 0, 0, 0.3);
}

.format__item-recomendation-img {
  width: 100%;
  max-width: 25px;
  height: 25px;
}

@media (max-width: 850px) {
  .format__items {
    grid-column-gap: 45px;
    grid-row-gap: 80px;
  }
}

@media (max-width: 700px) {
  .format__items {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
}

@media (max-width: 650px) {
  .format__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.payment {
  background-color: #242424;
  color: #fff;
}

.payment__wrapper {
  padding: 70px 0;
}

.payment__items {
  margin: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 40px;
}

.payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.payment__item-img {
  width: 100%;
  max-width: 65px;
  height: 65px;
  margin-bottom: 40px;
}

.payment__item-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.payment__item-title {
  font-family: "Impact";
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.payment__item-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr-Thin", sans-serif;
  margin-bottom: 20px;
}

.payment__item-text {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
}

.payment__item-text p {
  margin-bottom: 15px;
}

.payment__item-text p:last-child {
  margin-bottom: 0;
}

.payment__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment .title {
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .payment__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 0;
  }
  .payment__items .slick-dots {
    margin-top: 30px;
  }
  .payment__item-img {
    margin: 0 auto 40px;
  }
}

.result {
  background-color: #f6f6f6;
}

.result__wrapper {
  padding: 70px 0;
}

.result__items {
  margin: 70px 0 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 12px;
}

.result__item {
  border-left: 3px solid #2f6f3e;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(96%, #f6f6f6), to(#f6f6f6));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #f6f6f6 96%, #f6f6f6 100%);
}

.result__item-decor {
  width: 100%;
  height: 40px;
  background-color: #2f6f3e;
  margin: auto 0 0;
}

.result__item-title {
  background-color: #2f6f3e;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  padding: 12px;
}

.result__item-list {
  padding-top: 26px;
}

.result__item-list li {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 8px;
  border-bottom: 1px solid #111111;
  color: #555555;
}

.result__item-list li:last-child {
  border-bottom: 0;
}

.result__item-list li p {
  position: relative;
  z-index: 1;
}

.result__text {
  text-align: center;
  margin-bottom: 20px;
  color: #555555;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
}

.result__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result .title {
  text-align: center;
}

@media (max-width: 1000px) {
  .result__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 720px) {
  .result__text br {
    display: none;
  }
}

@media (max-width: 550px) {
  .result__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.benefit {
  color: #fff;
  background-color: #242424;
}

.benefit__wrapper {
  padding: 70px 0;
}

.benefit__subtitle {
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.benefit__items {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 40px;
}

.benefit__item {
  text-align: center;
}

.benefit__item-img {
  width: 100%;
  max-width: 88px;
  height: 69px;
  margin: 0 auto 35px;
}

.benefit__item-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.benefit__item-text {
  font-size: 16px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
}

.benefit__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefit .title {
  color: #fff;
  text-align: center;
}

@media (max-width: 900px) {
  .benefit__items {
    grid-gap: 20px;
  }
}

@media (max-width: 768px) {
  .benefit__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .benefit__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.description {
  background-image: url(../img/description_img.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.description__wrapper {
  padding: 70px 0;
}

.description__block {
  margin-bottom: 70px;
}

.description__block:last-child {
  margin-bottom: 0;
}

.description__subtitle {
  margin: 15px 0 60px;
  text-align: center;
  font-size: 16px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  text-transform: uppercase;
}

.description__subtitle span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.description__text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
}

.description__text span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.description__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 85px;
  grid-row-gap: 25px;
}

.description__item {
  padding: 15px 25px;
  border: 4px solid #818181;
  border-radius: 25px;
  background-color: rgba(129, 129, 129, 0.2);
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  color: #555555;
}

.description .title {
  text-align: center;
}

.description .peculiarities__items {
  margin-top: 60px;
  margin-bottom: 0;
}

@media (max-width: 950px) {
  .description__items {
    grid-column-gap: 25px;
  }
}

@media (max-width: 660px) {
  .description__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
}
