.btn {
    padding: 22px 28px;
    font-size: 18px;
    font-family: "HelveticaNeueCyr-Bold", sans-serif;
    background-color: #a709fc;
    display: inline-flex;
    color: #fff;
    cursor: pointer;
    background-image: -moz-linear-gradient(180deg, rgb(114, 41, 225) 0%, rgb(182, 62, 240) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(114, 41, 225) 0%, rgb(182, 62, 240) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(114, 41, 225) 0%, rgb(182, 62, 240) 100%);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
