html,
body,
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    &__min {
        max-width: 860px;
        padding: 0 15px;
        margin: 0 auto;
        width: 100%;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Ограничивающая оболочка */
.slick-list {
}
/* Лента слайдов */
.slick-track {
}

/* Точки (булиты) */
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li {
    margin: 0 4.5px;
    width: 100%;
    max-width: 25px;
    display: flex;
    height: 3px;
    font-size: 0;
    background-color: #505050;
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        left: 0;
    }
    &::before {
        top: -10px;
    }
    &::after {
        bottom: -10px;
    }
}
/* Активная точка */
.slick-dots li.slick-active {
    background-color: #b3b3b3;
}
/* Элемент точки */
.slick-dots li button {
    display: none;
}

/* Стрелка */
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 52px;
    height: 78px;
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    outline: none;
    transform-origin: center;
    cursor: pointer;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    left: -80px;
    transform: translateY(-55%) rotate(180deg);
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    right: -80px;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

.carousel__button.is-close{
    transform: scale(0.001);
}

@media (max-width: 750px) {
    .fancybox__slide {
        padding: 64px 15px;
    }
}
