html,
body,
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Ограничивающая оболочка */
.slick-list {
}
/* Лента слайдов */
.slick-track {
}

/* Точки (булиты) */
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li {
    margin: 0 4.5px;
    width: 100%;
    max-width: 25px;
    display: flex;
    height: 3px;
    font-size: 0;
    background-color: #505050;
    position: relative;
}
/* Активная точка */
.slick-dots li.slick-active {
    background-color: #a709fc;
}
/* Элемент точки */
.slick-dots li button {
    display: none;
}
