.review {
    background-image: url(../img/review_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: #fff;

    &__wrapper {
        padding: 70px 0;
    }

    &__items {
        margin: 40px auto 60px;
        width: 100%;
        max-width: 1000px;
        position: relative;
    }

    &__item {
        border-radius: 40px;
        padding: 65px 55px;
        border: 1px solid #9746c5;
        box-shadow: 0 0 5px 1px #9746c5;
        display: flex !important;
        background-color: rgba(#000, 0.4);
        margin: 5px;
        align-items: center;
    }

    &__item-img {
        width: 100%;
        max-width: 390px;
        height: 290px;
        border-radius: 40px;
        overflow: hidden;
        margin-right: 55px;
        background-color: #000;
        position: relative;
        .video__item-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 2;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
    }

    &__item-img-novideo {
        &::before {
            display: none;
        }
    }

    &__item-info {
        width: 100%;
        max-width: 50%;
    }

    &__item-info-title {
        font-size: 24px;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        margin-bottom: 35px;
        text-transform: uppercase;
    }

    &__item-info-items {
        display: flex;
        margin-bottom: 25px;
        grid-gap: 10px;
    }

    &__item-info-item {
        width: 100%;
        max-width: 50%;
        padding: 15px 15px;
        color: #000;
        font-size: 16px;
        border-radius: 20px;
        background-color: #fff;
        font-family: "HelveticaNeueCyr-Roman", sans-serif;
        &:first-child {
            background-color: #c0bfbf;
        }
        span {
            font-family: "HelveticaNeueCyr-Bold", sans-serif;
        }
    }

    &__item-info-item-title {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__item-info-item-text {
    }

    &__item-info-text {
        font-size: 16px;
        font-family: "HelveticaNeueCyr-Roman", sans-serif;
        line-height: 20px;
    }

    &__text {
        font-family: "HelveticaNeueCyr-Roman", sans-serif;
        font-size: 16px;
        text-align: center;
        color: #fff;
        margin-bottom: 25px;
    }

    &__btn {
        display: flex;
        justify-content: center;
    }

    .title {
        text-align: center;
        color: #fff;
    }
}

@media (max-width: 1200px) {
    .review {
        &__items {
            max-width: 800px;
        }
    }
}

@media (max-width: 1000px) {
    .review {
        &__items {
            max-width: 700px;
        }
        &__item {
            padding: 25px;
        }
        &__item-img {
            margin-right: 25px;
        }
    }
}

@media (max-width: 900px) {
    .review {
        &__items {
            max-width: 80%;
        }
        &__item {
            flex-direction: column;
        }
        &__item-img {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            img {
                object-position: top;
            }
        }
        &__item-info {
            max-width: 100%;
        }
        .slick-arrow.slick-prev {
            left: -60px;
        }
        /* Стрелка вправо */
        .slick-arrow.slick-next {
            right: -60px;
        }
    }
}

@media (max-width: 550px) {
    .review {
        &__items {
            margin-bottom: 140px;
            max-width: 100%;
        }
        &__item {
            padding: 15px;
        }
        &__item-info-title {
            font-size: 20px;
        }
        &__item-info-items {
            flex-direction: column;
        }
        &__item-info-item {
            max-width: 100%;
        }
        .slick-arrow.slick-prev {
            left: 0px;
            bottom: -140px;
            top: auto;
        }
        /* Стрелка вправо */
        .slick-arrow.slick-next {
            right: 0px;
            bottom: -140px;
            top: auto;
        }
    }
}
